
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Template</title>
    {% include "base/css.html" %}
</head>
<body>
    {% include "nav/navbar.html" %}
    {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="flex items-center px-4 py-3 text-sm font-bold text-white bg-blue-500"
                         role="alert">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% block content %}
    
    {% endblock content %}

    {% include "base/js.html" %}
</body>
</html>
