{% extends "base.html" %}

{% block content %}
<div class="container mx-auto">
    <div class="flex justify-center">
        <div class="w-1/2">
            <h1 class="text-3xl font-bold text-center">Welcome to SaaS</h1>
            <p class="text-center">This is a SaaS project built with Django.</p>

            {% comment %} Password ebter form {% endcomment %}
Enter Password:
            <form method="post">
                {% csrf_token %}
                <input type='Password' name = 'code' placeholder='Enter Password' />
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
        </div>
    </div>
{% endblock content %}